.team-scroll {
    display: inline-flex;
    animation: scroll-left 25s linear infinite;
  }
  
  @keyframes scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  